@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    @apply text-base;
    height: fill-available;
  }

  body {
    @apply min-h-screen p-2;
    @apply text-gray-900 bg-gray-450;
    @apply font-sans antialiased leading-none uppercase;
    min-height: fill-available;
    text-rendering: optimizeLegibility;
  }

  a {
    @apply inline-block;
    @apply focus:outline-none;
  }
}
