---
import Header from 'components/Header.astro'
import BaseLayout from 'layouts/BaseLayout.astro'
---

<BaseLayout title="Not found">
  <Header
    title="404"
    subtitle="Not found"
    link={{ name: 'Back to home', url: '/' }}
  >
    <p>The page you are trying to visit doesn't seem to exist.</p>
  </Header>
</BaseLayout>
